@mixin keyframes ($a, $start, $end) {
  @-webkit-keyframes #{$a} {
    from {
      transform: translateX($start);
      -webkit-transform: translateX($start);
    }
    to {
      transform: translateX($end);
      -webkit-transform: translateX($end);
    }
  }
  @keyframes #{$a} {
    from {
      transform: translateX($start);
      -webkit-transform: translateX($start);
    }
    to {
      transform: translateX($end);
      -webkit-transform: translateX($end);
    }
  }
}

@mixin keyboard ($a, $start, $end) {
  @-webkit-keyframes #{$a} {
    from {
      transform: translateY($start);
      -webkit-transform: translateY($start);
    }
    to {
      transform: translateY($end);
      -webkit-transform: translateY($end);
    }
  }
  @keyframes #{$a} {
    from {
      transform: translateY($start);
      -webkit-transform: translateY($start);
    }
    to {
      transform: translateY($end);
      -webkit-transform: translateY($end);
    }
  }
}


