@keyframes fade {
  0% {
    transform-origin: 0 0;
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: scaleY(0);
    opacity: 0;
  }
}

@mixin keyframes ($a, $start, $end) {
  @-webkit-keyframes #{$a} {
    from { margin-left: $start; }
    to { margin-left: $end; }
  }
  @keyframes #{$a} {
    from { margin-left: $start; }
    to { margin-left: $end; }
  }
}

@mixin keyframesAnswer ($a, $start, $end) {
  @-webkit-keyframes #{$a} {
    from { margin-right: $start; }
    to { margin-right: $end; }
  }
  @keyframes #{$a} {
    from { margin-right: $start; }
    to { margin-right: $end; }
  }
}
