
.options {
  background: #fff;
  box-sizing: border-box;
  padding-bottom: 60px;
  width: 620px;
  margin-left: 90px;
}
.hidden {
  visibility: hidden;
}
.confirm {
  width: 300px;
  height: 180px;
  margin-top: -120px;
  margin-left: 270px;
  -webkit-appearance: none;
}
.btn-able {
  background: url("../assets/images/confirm-btn.png") no-repeat;
  background-size: 100%;
}
.btn-disable {
  background: url("../assets/images/btn-disabled.png") no-repeat;
  background-size: 100%;
}
.male {
  background: url("../assets/images/dad.png") no-repeat;
  background-size: 100%;
}
.female {
  background: url("../assets/images/mom.png") no-repeat;
  background-size: 100%;
}
.son {
  background: url("../assets/images/son.png") no-repeat;
  background-size: 100%;
}
.daughter {
  background: url("../assets/images/daughter.png") no-repeat;
  background-size: 100%;
}
.old-woman {
  background: url("../assets/images/grandma.png") no-repeat;
  background-size: 100%;
}
.old-man {
  background: url("../assets/images/grandpa.png") no-repeat;
  background-size: 100%;
}
.dog {
  background: url("../assets/images/dog.png") no-repeat;
  background-size: 100%;
}
.fadeInLeft {
  animation-delay: 1.5s;
}
.fadeInRight {
  animation-delay: 2s;
}
.options-enter-active {
  -webkit-animation: fade 1s reverse;
  -o-animation: fade 1s reverse;
  animation: fade 1s reverse;
}
.options-leave-active {
  -webkit-animation: fade 1s;
  -o-animation: fade 1s;
  animation: fade 1s;
}

